<ul class="nav nav-tabs">
    <li id="table1" class="active"><a href="#tab1" data-toggle="tab">{{'Travail'}}</a></li>
    <li id="table2"><a href="#tab2" data-toggle="tab">{{'Post partum'}}</a></li>
    <li id="table3"><a  href="#tab3" alt="Actif"  data-toggle="tab">{{'Archive'}}</a></li> 
</ul> 